.sets{
  min-height: 825px;
  background: #FFF4F3;
  &__titlewrap{
    display: grid;
    grid-template-columns: 510px 588px;
    grid-template-rows: 80px;
    grid-auto-rows: 68px;
    column-gap: 68px;
  }
  &__boldsets{
    font-weight: 700;
    font-size: 36px;
    color: #000000;
  }
  &__descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-top: 10px;
  }
  &__bigwrap{
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: minmax(335px, auto);
    grid-auto-rows: minmax(335px, auto); 
    column-gap: 25px;
    margin-top: 40px;
  }
  &__imgtext{
    position: absolute;
    width: 137px;
    height: 29px;
    background: #FFF4F3;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #EC7973;
    left: 133px;
    top: 12px;
    text-align: center;
    padding-top: 5px;
  }
  &__img{
    position: relative;
    width: 282px;
    height: 335px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__set{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-top: 24px;
  }
  &__num{
    font-weight: 400;
    font-size: 14px;
    color: #434242;
    margin-top: 8px;
  }
  &__weight{
    font-weight: 400;
    font-size: 13px;
    color: #9F9E9D;
    margin-top: 8px;
  }
  &__pricewrap{
    width: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  &__oldprice{
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #434242;
  }
  &__newprice{
    font-weight: 600;
    font-size: 16px;
    color: #000000;
  }
  &__button{
    width: 171px;
    height: 48px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #961914;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #961914;
    padding-top: 2px;
    margin-top: 23px;
    cursor: pointer;
  }
  &__calc{
    background: #EAD1D0;
  }
  &__calctext{
    font-weight: 500;
    font-size: 23px;
    color: #000000;
    width: 232px;
    height: 160px;
    margin: 0 auto;
    margin-top: 25px;
  }
  &__calcbutton{
    display: block;
    width: 171px;
    height: 48px;
    background: #961914;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    margin-top: 42px;
  }
  &__applemeatwrap{
    position: relative;
  }
  &__applewrap{
    position: absolute;
    width: 119px;
    height: 119px;
    top: 65px;
    left: 5px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__meatwrap{
    position: absolute;
    width: 149px;
    height: 149px;
    top: 93px;
    left: 123px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}